{% extends 'Auth/layout.html'%}
{% block content %}
<header>RememberThem</header>
<div class="container">
    <h2>הרשמה</h2>
    <form>
        <label for="email">דואר אלקטרוני:</label>
        <input type="email" id="email" name="email" placeholder="rememberthem@gmail.com" required>

        <label for="password">סיסמא:</label>
        <input type="password" id="password" name="password" placeholder="RememberThem123!" required>

        <label for="confirm_password">אימות סיסמא:</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="RememberThem123!" required>

        <label for="fname">שם פרטי:</label>
        <input type="text" id="fname" name="fname" placeholder="נזכור" required>

        <label for="lname">שם משפחה:</label>
        <input type="text" id="lname" name="lname" placeholder="אותם" required>

        <button type="submit" class="button-positive">הירשם</button>
        <a href="/auth/">התחברות</a>
    </form>
</div>
{% endblock %}